body{
    background-color:hsl(30, 38%, 92%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    font-size: 14px;
}
h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 35px;
    padding-top: 1px;
    line-height: 1;
    padding-bottom: 2px;
}
.card{
    
    max-width: 540px;
}
.price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 35px;
}
.but{
    display: block;
    width: 100%;
}
.t{
    font-family: 'Montserrat' , sans-serif;
}
.card-body{
    padding-left: 10px;
}
.mobile{
    display: none;
}
@media screen and (max-width:375px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .card{
        width: 80%;
    }
}